<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        p {
            font-size: 12px;
        }

        ol,
        li {
            margin-top: 0;
            padding-top: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Privacy Policy</h1>
            <h2>Introduction:</h2>
            <p style=" font-size:15px;">This privacy policy will help you understand what information we collect and use
                at Collekt, and the choices you have associated with that information. When we refer to “Collekt,” “we,”
                “our,” or “us” in this policy, we are referring to Bookmanelabs and its subsidiaries and affiliates, which
                provides the Services to you. The “Services” refers to the applications, services, and websites (marketing
                and product) provided by Collekt. The use of information collected through our service shall be limited to
                the purpose of providing the services for our customers and as specified herein. If you have any questions
                about this privacy policy or our practices, please contact us. If you have an unresolved privacy or data
                use concern that we have not addressed satisfactorily, please contact @ bookmanelabs@gmail.com.
            </p>
            <h2>Contents:</h2>

            <ol>
                <li>Information We Collect and Receive</li>
                <li>How We Use the Information We Collect and Receive</li>
                <li>Analytics, Cookies and Other Web Site Technologies</li>
                <li>Information Sharing</li>
                <li>Communicating</li>
                <li>Accessing Your Data</li>
                <li>Security</li>
                <li>Changes to this Statement/Contact Us</li>

            </ol>
            <ol>
                <li>
                    <h3>Information We Collect and Receive</h3>
                    <p style=" font-size:15px;">We collect several different types of information to provide Services to
                        you, including</p>
                    <h4>Customer Account and Registration Data: </h4>
                    <p style=" font-size:15px;">This includes information you provide to create your account with us and
                        may include, first and last name, billing information, a password and a valid email address.</p>

                    <h4>Service Data (including Session and Usage data): </h4>
                    <p style=" font-size:15px;"> When you use our Services, we receive information generated through the
                        use of the Service, either entered by you or others who use the Services with you ,or from the Service
                        infrastructure itself, (for example, duration of session, connection information, etc.) We may also
                        collect usage and log data about how the services are accessed.</p>

                    <h4>Data collected not from you directly:</h4>
                    <p style=" font-size:15px;">This includes information you provide to create your account with us and
                        may include, first and last name, billing information, a password and a valid email address.</p>


                </li>
                <li>
                    <h3>How We Use the Information We Collect and Receive:</h3>

                    <h4>Customer Account and Registration Data: </h4>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">To provide a personalized experience to use the extension which is
                                strictly accessible only by you</p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">To clearly distinguish the identity of the user who uses the application.
                            </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">Contacting you under required circumstances to let you know the information
                                you are entitled to know, or the extra information which we may ask you to provide to meet
                                the requirements to provide the functionality at its best. </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">To provide a personalized experience to use the extension which is
                                strictly accessible only by you</p>
                        </li>
                    </ol>
                    <h4>Service Data (including Session and Usage data): </h4>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">To enhance the security. For example the user have to provide the
                                login credentials to access his/her account after certain time of non-usage.</p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">At regular intervals the login credentials have to be provide to
                                login. This enhances the security.</p>
                        </li>

                    </ol>

                    <h4>Data collected not from you directly:</h4>
                    <h5>Functionality provided by extracting information (a) mentioned above</h5>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">Functionality of the application includes having a pop up dialog
                                box asking user to fill information. The pop up is brought up on the screen only on web pages
                                of specific domain. </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">The card generated by the application to users, have an image/icon
                                which is assigned to particular domain from which the card is generated. It enhances the
                                user experience. </p>
                        </li>

                    </ol>
                    <h5>Functionality provided by extracting information (b) mentioned above</h5>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">The card created by the application include name on it for it to
                                identify. The profile name/User name gives a clear identity of the person since the information
                                is collected from the social profiles.</p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">This information is also used to identify the data collected with
                                respect to the event of you visiting his profile. </p>
                        </li>

                    </ol>
                    <h5>Functionality provided by extracting information (c) mentioned above</h5>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">Every card Generated for user will be clickable and on the event
                                click on the card occurs, the profile page of the profile holder from where card was generated,
                                appears.
                            </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">List functionality requires it. When you share the list with the
                                people you desire, the person can view the names present in the list and will be able to
                                navigate to their profile on a click on their names. </p>
                        </li>

                    </ol>
                </li>
                <li>
                    <h3>
                        Analytics, Cookies and Other Web Site Technologies

                    </h3>
                    <p style=" font-size:15px;">Data collected by Collect is not being analyzed. No analytics is done on
                        the data collected. If there is requirement in the future, the data analysis will be done by updating
                        the necessary policies and the user will be informed about the changes made.</p>
                    <p style=" font-size:15px;">Cookies: Session cookies are used which is used only for authentication and
                        security improvements. No other user state or information is collected. The data collected by cookie
                        include is the time the cookie is created.</p>

                </li>
                <li>
                    <h3>
                        Information Sharing

                    </h3>
                    <p style=" font-size:15px;">Ensuring your privacy is important to us. We do not share your personal information
                        with third parties except as described in this privacy policy. The data is strictly used to provide
                        the functionality that Collekt has promised to provide.</p>

                </li>
                <li>
                    <h3>
                        Communications

                    </h3>
                    <p style=" font-size:15px;">Collekt may need to communicate with you for a variety of different reasons,
                        including:
                    </p>
                    <ol>
                        <li>
                            <p style=" font-size:15px;">Responding to your questions and requests: If you contact us with
                                a problem or question, we will use your information to respond.
                            </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">Sending you Service and administrative via emails and messages: We
                                may contact you to inform you about changes in our Services, our Service offerings, and important
                                Service related notices, such as billing, security and fraud notices. These emails and messages
                                are considered a necessary part of the Services and you may not opt-out of them. </p>
                        </li>
                        <li>
                            <p style=" font-size:15px;">Conducting surveys: We may use the information gathered in the surveys
                                to enhance and personalize our products, services, and websites. </p>
                        </li>
                    </ol>

                </li>
                <li>
                    <h3>Accessing Your Data</h3>
                    <p style=" font-size:15px;">Collekt has been designed to provide you a functionality where you can store
                        and access data in a meaning full way. You have complete control over your data. The interface has
                        been designed to view data beautifully, arrange it, and search for a data item with filters. You
                        have the privilege to alter the data created too, to an extent. You can delete any data. The deleted
                        data will be completely disposed/eliminated. Data is not moved to archive when deleted.</p>

                </li>
                <li>
                    <h3>Security</h3>
                    <p style=" font-size:15px;">Collekt follows generally accepted standards to protect the personal information
                        submitted to us, both during transmission and once it is received, however, no security measure is
                        perfect. We recommend safeguarding your password, as it is one of the easiest ways you can manage
                        the security of your own account – remember that if you lose control over your password, you may
                        lose control over your personal information.</p>

                </li>
                <li>
                    <h3>. Changes to this Statement/Contact Us</h3>
                    <p style=" font-size:15px;">We may update this Privacy Policy to reflect changes to our information practices.
                        If we make any material changes we manually notify you by email (sent to the e-mail address specified
                        in your account), prior to the change becoming effective. We encourage you to periodically review
                        this page for the latest information on our privacy practices. If you continue to use the Services
                        after those changes are in effect, you agree to the revised policy.</p>
                        <p style=" font-size:15px;">If you have any other questions about this policy please contact bookmanelabs@gmial.com, or call +91 7899918498.</p>
                        <p  style=" font-size:17px;">You can also let us know with the feedback form. Link below</p>
                        <p  style=" font-size:15px;"><a href="https://goo.gl/forms/Mr36wkxuAopDYezP2">https://goo.gl/forms/Mr36wkxuAopDYezP2</a></p>

                </li>

            </ol>

        </div>

    </div>
</body>

</html>